PORT=3000

MONGO_URL=mongodb://miguelbaumann:0uts1der@localhost:27017
MONGO_DB_NAME=outsider
MONGO_USER=miguelbaumann
MONGO_PASS=0uts1der

JWT_SEED=0uts1der@M1guelBaumann

WEBSERVICE_URL=http://localhost:3000